h1 {
  font-size: 35px;
  font-weight: bold;
  background-color: rgb(214, 255, 255);
  color: rgb(121, 140, 248);
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}

ul {
  width: 300px;
  margin: 20px auto;
}

.btn-box {
  text-align: center;
}
.btn-box button {
  background-color: #442aad;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-box button:hover {
  opacity: 0.7;
}