h1{
    font-size: 35px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper{
  margin: 50px auto;
  height: 500px;
  width: 50%;
  text-align: center;
  padding: 10%;
  border: solid 2px #e4e4e4;
  border-radius: 20px;
}

.button_style{
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;

  &:hover{
    opacity: 0.6;
  }
}

h2 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}

P{
  margin-top: 30px;
}

.mt30{
  margin-top: 30px;
}
  
.hide{
  display: none;
}

.display{
  display: block;
}

// .fadeIn-1 {
//   animation: fadein 5s;
// }

// .fadeIn-2 {
//   animation: fadein 0.5s;
// }

// @keyframes fadein {
// from { 
//   opacity: 0;
//   animation-timing-function: ease-in-out;
// }
// to   { 
//   opacity: 1;
//   }
// }
  
.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}


.modalWrapper{
  margin: 150px auto;
  height: 400px;
  width: 40%;
  text-align: center;
  padding: 10%;
  background-color: #fff;
  border: solid 2px #e4e4e4;
  border-radius: 20px;
}